torch~=2.3.0
torchvision~=0.18.0
torchaudio
pandas~=2.0.3
comet_ml
timm==0.4.12
transformers~=4.41.2
fairscale==0.4.4
pycocoevalcap
tqdm~=4.66.4
rich~=13.7.1
numpy~=1.24.4
pillow~=10.3.0
configobj~=5.0.8
clip
matplotlib
seaborn
jupyter
IPython